{% extends 'myweb_main/defolt.html'%}

{% block title %}
Регистрация
{% endblock %}
{% block content %}
{% if error %}
    <div>Неверный логин или пароль</div>
{% endif %}
    <h1>Авторизация</h1>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Введите имя пользователя:
        {{ form.username }}<br>
        Введите Пароль:
        {{ form.password }}<br>
        <br>
        <button type="submit" class="btn btn-success">Войти </button>
        <p>
            Если у вас нет аккаунта, то вы можете зарегистрироваться
            <a class="py-2 d-none d-md-inline-block" href="{% url 'reg' %}"><i class="fas fa-users"></i>Регистрация</a></p>
        </p>
</form>
{% endblock %}